* {
    margin: 0;
    padding: 0;
}

:root {
    --first-color: #002F6C;
    --second-color: #19437A;
    --third-color: #01579B;
    --fourth-color: #0277BD;

    --element-color: #0091EA;
    --element-hover-color: #0088DB;
    --element-active-color: #1A9CED;
}

:root[theme='dark'] {
    --first-color: #111C29;
    --second-color: #222A33;
    --third-color: #374452;
    --fourth-color: #4B5A6B;

    --element-color: #004ECB;
    --element-hover-color: #0045B2;
    --element-active-color: #1661D9;  
}

.container {
    max-width: 1240px;
    margin: 0 auto;
}

.padding_middle_space {
    padding: 96px 62px 66px 92px;
}

.top__box {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #FAFBFE;
}

.text_logo {
    padding-left: 16px;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    color: #29323C;
    text-decoration: none;
    vertical-align: 7px
}

.logo_button {
    padding-left: 3.5px;
}

.container-padding {
    padding-left: 15px;
    box-sizing: border-box;
    background-color: rgba(229,229,229,0.22);
}


body{
    font-family: Arial, Helvetica, sans-serif;
}
.paragraf{
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    color: #29323C;
    text-transform: none;
}

.p_padding_face {
    padding-top: 27px;
    width: 409px;
}

.p_card {
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    color: #7483A9;
    mix-blend-mode: normal;
    padding-top: 12px;
    width: 272px;
}

.p_card_ps {
    font-family: Roboto;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #7483A9;
    mix-blend-mode: normal;
    padding-top: 10px;
    width: 272px;
}

.p_status {
    font-style: italic;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FAFBFE;
    mix-blend-mode: normal;
    margin-bottom: 16px;
}

.p_footer_tel {
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #FAFBFE;
    mix-blend-mode: normal;
}

.card_order_0 {
    order: 0;
}

.card_order_1 {
    order: 1;    
}

.card_order_2 {
    order: 2;
}

.card_order_3 {
    order: 3;
}

.card_order_4 {
    order: 4;
}

.card_order_5 {
    order: 5;
}

.top__button {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    align-items: center;
    text-align: center;
    color: #FAFBFE;
    background: #000DFF;
    box-shadow: 0px 1px 1px #E5E9F6, 0px 2px 4px #E5E9F6;
    border-radius: 48px;
    text-decoration: none;
    padding: 12px 66px;
    display: inline-block;
    margin-top: 27px;
}

.big_header{
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    line-height: 48px;
    color: #29323C;
    width: 640px;
    padding-top: 18px;
}
.middle_header{
    font-weight: bold;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    color: #29323C;    
}
.card_header{
    margin-top: 20px;
    width: 272px;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #29323C;
}
.header__bascard{
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #FAFBFE;
    font-weight: normal;
    margin-bottom: 8px;
}

.facepage{    
    margin-top: 22px;
    padding-bottom: 56px;
    background-image: url(../images/login_page_img/Podlojka.svg);
    background-repeat: no-repeat;
    background-position: right bottom;
    height: 750px;
}

.up_space{
    background-color: #FAFBFE;
}

.middle_space {
    background-color: rgba(234,237,244,0.22);
}

.cap{
    padding: 28.5px 15px 28.5px;
    height: 98px;
    box-sizing: border-box;
}

.cap_li {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    height: 41px;
    align-items: center;
}

.tel_cap {
    font-family: Roboto;
    font-size: 16px;
    line-height: 19px;
    color: #29323C;
    vertical-align: 13px;
    text-decoration: none;
    padding-right: 28.5px;
}

.zn_tel {
    vertical-align: 10px;
    padding-right: 10.5px;
}

.spacecard {
    margin-top: 56px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    position: relative;
}


.card{
    display: flex;
    flex-direction: column;
    padding: 30px;
    width: 332px;
    background-color: #FAFBFE;
    box-shadow: 0px 2px 16px rgba(229, 233, 246, 0.84), 0px 20px 20px rgba(229, 233, 246, 0.4);
    border-radius: 20px;
    box-sizing: border-box;
    margin-right: 30px;
    margin-bottom: 30px;
    height: 100%;
    align-self: center;
}
.conclusion{
    flex-grow: 1;
    background-image: url(../images/login_page_img/background.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 682px;
    padding: 138px 0px;
    box-sizing: border-box;
}

.contacts {
    display: flex;
    justify-content: space-between;
    width: 1030px;
    height: 406px;
    align-items: start;
    margin: 0 auto;
    background-color: #FAFBFE;
    box-shadow: 0px 1px 18px rgba(47, 48, 53, 0.05), 0px 4px 42px rgba(47, 48, 53, 0.1);
    border-radius: 16px;
    box-sizing: border-box;
    padding: 0px 178px;
}

.cont_data {
    text-align: left;
    margin-top: 80px;
    width: 292px;
}

.tal {
    text-align: left;
    margin-bottom: 16px;
}

.ul_cont_data {
    margin-top: 24px;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    list-style-image: url(../images/login_page_img/marker.svg);
    list-style-position: inside;

}

.li_cont_data {
    margin-bottom: 8px;
}

.input_data {
    margin-top: 74px;
    width: 300px;
}

.input_data_header {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #000DFF;
    margin-bottom: 22px;
}

.input_data_form {
    width: 300px;
    height: 58px;
    background-color: #FAFBFE;
    border: 2px solid rgba(234, 237, 244, 0.6);
    border-radius: 8px;
    box-sizing: border-box;
    padding: 18px;    
    margin-bottom: 20px;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #AAB3C8;
}

#remember_me {
    text-align: left;
    margin-top: 0px;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
}

/* Customize the label (the checkbox-container) */
.checkbox-container {
    display: block;
    position: relative;
    padding-left: 27px;
    padding-top: 4px;
    cursor: pointer;
    font-size: 12px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: 16px;
    color: #A8ADAF;
}

.checkbox-container.active {
    color: #263238;
}
  
/* Hide the browser's default checkbox */
.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
/* end checkbox */

.submit_data {
    margin-top: 9px;
    width: 300px;
    height: 48px;
    background: #000DFF;
    box-shadow: 0px 1px 1px #E5E9F6, 0px 2px 4px #E5E9F6;
    border-radius: 48px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    align-items: center;
    text-align: center;
    color: #FAFBFE;
    mix-blend-mode: normal
}
#login_form_btn:hover {
    cursor: pointer;
}
/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #FFFFFF;
    border: 2px solid #A8ADAF;
    border-radius: 3px;
    box-sizing: border-box;
}

.checkmark.active {
    border: 2px solid var(--element-color);
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
    display: block;
}
/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
    left: 5px;
    width: 5px;
    height: 10px;
    border: solid var(--element-color);
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

#login_alert {
    margin-bottom: 16px;
    color: red;
}

/* active state */
input:focus ~ label, input:valid ~ label 		{
    top:-20px;
    font-size:14px;
    color: var(--element-color);
  }

.allrigres{
    font-family: Roboto;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #000DFF;
    padding-top: 31px;
    padding-bottom: 31px;
}

.footer{
    background-color: #000DFF;
    height: 320px;
    display: flex;
    align-items: center;
    position: relative;   
}

.circles {
    position: absolute;
    left: 115px;
    top: -5px;
}

.circles2 {
    position: absolute;
    right: 115px;
    bottom: -5px;
}

.footer__card{
    padding: 0px;
    width: 364px;
    text-align: center;
}

.footer_flex {
    display: flex;
    justify-content: center;
}

.otstup {
    margin-right: 88px;
}

.ul_footer {
    list-style-type: none;
    text-align: center;
    padding-top: 32px;
    padding-bottom: 32px;
}

.text_logo_footer {
    font-family: Roboto;
    padding-left: 18px;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 37px;
    color: #000DFF;
    text-decoration: none;
    vertical-align: 7px
}

hr {
    width: 820px;
    border: 1px solid #000DFF;
    margin: 0 auto;
}

.menu {
    display: none;
}

@media (max-width: 1024px) {
    .container {
        padding-left: 13px;
        padding-right: 13px;
    }

    .facepage {
        padding-bottom: 72px;
        background-position: right bottom;
        height: 734px;
        
        background-size: 90%;
    }

    .spacecard{
        margin-top: 43px;
    }

    .card {
        margin: 13px;
    }

    .conclusion {
        padding: 128px 0px;
        height: 663px;
    }

    .contacts {
        width: 690px;
        height: 407px;
        padding: 0px 49px;
    }

    .cont_data {
        text-align: left;
        margin-top: 74px;
        width: 276px;
    }

    .paragraf {
        font-size: 16px;
        line-height: 24px;
        color: #29323C;
        text-transform: none;
        }

    hr {
            width: 690px;
        }

    .otstup {
        margin-right: 0px;
    }

    .circles {
        position: absolute;
        left: 39px;
        top: 0px;
        height: 65px;
    }

    .circles2 {
        position: absolute;
        right: 39px;
        bottom: 0px;
        height: 65px;
    }

}


@media (max-width: 667px) {
    .text_logo {
        font-style: normal;
        text-align: center;
        font-weight: bold;
        font-size: 20px;
        line-height: 24px;
        color: #29323C;
        text-decoration: none;
        vertical-align: 7px
    }

    .cap{
        padding: 14.75px 0px;
        height: 56px;
        box-sizing: border-box;    
    }

    .cap_li {
        justify-content: flex-start;
        height: 26.5px;
        align-items: center;
    }

    .hidden_li {
        display: none;
    }

    .logo_mini {
        height: 26.5px;
    }

    .facepage {
        margin-top: 2px;
        padding-bottom: 48px;
        background-position: right 202px;
        background-image: image();
        height: 571px;
    }

    .big_header {
        font-size: 24px;
        line-height: 29px;
        width: 290px;
    }

    .paragraf {
        line-height: 22px;
    }

    .p_padding_face {
        padding-top: 60px;
        width: 290px;
    }

    .top__button {
        margin-top: 18px;
        font-size: 18px;
        line-height: 22px;
        mix-blend-mode: normal;
    }

    .padding_middle_space {
        padding: 48px 15px 39px;
    }

    .spacecard {
        margin-top: 29px;
    }

    .card {
        margin: 9px;
        width: 290px;
        padding: 30px 9px;
    }

    .middle_header {
        font-size: 22px;
        line-height: 27px;
    }

    .card_header {
        color: #2D4379;
    }

    .conclusion {
        padding: 60px 15px;
        height: 726px;
        background-position: top;
        background-repeat: round;
    }

    .contacts {
        width: 290px;
        height: 606px;
        padding: 38px 24px;
        flex-direction: column;
        justify-content: start;
    }

    .cont_data {
        text-align: left;
        margin-top: 0px;
        width: 100%;
    }

    .ul_cont_data {
        margin-top: 16px;
        font-size: 16px;
        line-height: 22px;
        }

        .input_data {
            margin-top: 26px;
            width: 100%;
        }

        .input_data_header {
            margin-bottom: 18px;
            text-align: left;
        }

        .input_data_form {
            width: 100%;
        }

        .submit_data {
            margin-top: 10px;
            width: 100%;
 
        }

        

        .header__bascard {
            font-size: 22px;
            line-height: 24px;
        }

        .footer {
            height: 418px;
        }

        .circles {
            position: absolute;
            left: 0px;
            top: 0px;
            height: 65px;        
        }

        .circles2 {
            position: absolute;
            right: 0px;
            bottom: 0px;
            height: 65px;        
        }

        .otstup {
            margin-bottom: 38px;        
        }

        .menu {
            display: inline;
            flex-grow: 2;
        }

        .footer_flex {
            flex-direction: column; 
            justify-content: start;   
        }

        .footer__card {
            width: 100%;
        }

        .padding_menu {
            flex-grow: 3;
        }

    .allrigres {
        padding-top: 32px;
        padding-bottom: 32px;
    }
    hr {
        width: 290px;
    }

    .text_logo_footer {
        padding-left: 8px;
        font-size: 20px;
        line-height: 24px;
        font-family: Arial;
    }

}



@media (min-width: 380px) and (max-width: 667px) {
       /* CSS-стили */
	   
	.facepage{    
    margin-top: 22px;
    padding-bottom: 56px;
    background-image: url(../images/login_page_img/Podlojka.svg);
    background-repeat: no-repeat;
    background-position: right center;
    height: 558px;
	background-size: 50%;
	} 
}

@media (min-width: 500px) and (max-width: 667px) {
       /* CSS-стили */
	   
	.facepage{    
    margin-top: 22px;
    padding-bottom: 56px;
    background-image: url(../images/login_page_img/Podlojka.svg);
    background-repeat: no-repeat;
    background-position: right;
    height: 500px;
	background-size: 60%;
	} 
}

