@media print {
    .report-print-footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 100px;
    }

    .report-print-footer, .page-footer-space {
        height: 40px;
    }
}

table {
    border-collapse: collapse; 
    width: 100%; 
}

.report-content {
    page-break-after: always
}

.report-content table th,
.report-content table td,
.report-table th,
.report-table td  {
    border: 1px solid black;
}
