body {
    margin: 0;
    font-family: 'Roboto', sans-serif
}

#page_body {
    width: 100%;
    height: 100%;
}

.material-icons {
    cursor: pointer;
    font-size: 28px;
}

#main_menu_content {
    width: 70px;
    height: 100%;
    box-sizing: border-box;
    transition: width .15s linear;
    float: left;
}

.main-menu {
    background: lightblue;
    border-right: 1px solid steelblue;
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    left: 0;
    width: 70px;
    overflow: hidden;
    -webkit-transition: width .15s linear;
    -webkit-transform: translateZ(0) scale(1,1);
}

.main-menu>ul {
    margin: 7px 0;
}

nav ul, nav li {
    outline: 0;
    margin: 0;
    padding: 0;
}

.main-menu>ul.logout {
    position: absolute;
    left: 0;
    bottom: 0;
}

.main-menu li {
    position: relative;
    display: block;
    width: 220px;
    padding: 5px 0px;
    transition: 0.2s;
    box-sizing: border-box;
    border-top: 1px solid lightblue;
    border-bottom: 1px solid lightblue;
    cursor: pointer;
}

.main-menu li:hover {
    background: white;
    color: black;
    border-top: 1px solid steelblue;
    border-bottom: 1px solid steelblue;
    transition: 0.2s;
    box-sizing: border-box;
}

.main-menu li>a {
    position: relative;
    display: table;
    border-collapse: collapse;
    border-spacing: 0;
    color: black;
    font-family: arial;
    font-size: 14px;
    text-decoration: none;
    -webkit-transform: translateZ(0) scale(1,1);
    -webkit-transition: all .1s linear;
    transition: all .1s linear;
}

.left-menu-icon {
    width: 70px;
    font-size: 40px !important;
    text-align: center;
    cursor: pointer;
}

.main-menu .nav-text {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    width: 190px;
    font-family: 'Titillium Web', sans-serif;
    font-size: 2vh;
}

#body_content {
    width: calc(100% - 70px);
    height: 100%;
    box-sizing: border-box;
    transition: width .15s linear;
    float: left;
}

#update_info_content {
    display: none;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

#update_info_top_content {
    width: 100%;
    height: 80%;
    box-sizing: border-box;
    border-bottom: 1px solid gray;
}

#update_info_bottom_content {
    width: 100%;
    height: 20%;
    box-sizing: border-box;
    background-color: lightblue;
}

#redmine_content, #news_content, #updates_content {
    width: calc(100% / 3);
    height: 100%;
    float: left;
    box-sizing: border-box;
}

#our_contacts_content {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}


#redmine_content, #updates_content {
    border-right: 1px solid gray;
}

#popup_background {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    overflow: hidden;
    position: fixed;
    top: 0px;
    display: none;
    z-index: 10;
}

.popup-window {
    margin: 15% auto 0px auto;
    width: 670px;
    height: max-content;
    padding: 5px;
    background-color: white;
    border-radius: 2px;
    display: none;
    z-index: 10;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .1);
    -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .1);
    -o-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .1);
    -ms-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .1);
}

.popup-fullscreen {
    width: 100%;
    height: 100%;
    padding: 5px;
    background-color: white;
    display: none;
    z-index: 10;
    box-sizing: border-box;
    position: fixed;
}

.popup-with-menu {
    width: calc(100% - 70px);
    height: 100%;
    padding: 5px;
    background-color: white;
    display: none;
    z-index: 5;
    box-sizing: border-box;
    margin-left: 70px;
    position: fixed;
    top: 0;
    right: 0;
    transition: width .15s linear;
}

.popup-header {
    width: 100%;
    height: 25px;
    background-color: lightgray;
}

.popup-window .popup-name {
    float: left;
    width: 95%;
    height: 100%;
    font-size: 20px;
    padding-left: 5px;
    box-sizing: border-box;
}

.popup-close {
    float: left;
    width: 5%;
    text-align: right;
    height: 100%;
    cursor: pointer;
}

.popup-close i {
    font-size: 26px;
}

.popup-header-fullscreen {
    width: 100%;
    height: 30px;
    background-color: lightgray;
}

.popup-content {
    padding-top: 5px;
    width: 100%;
    box-sizing: border-box;
    height: calc(100% - 30px);
    overflow: auto;
}

.popup-content form {
    text-align: center;
}

.popup-report-name {
    float: left;
    width: 50%;
    height: 100%;
    font-size: 2.5vh;
    padding-left: 5px;
    box-sizing: border-box;
}

.popup-report-operation {
    width: 50%;
    float: left;
    text-align: right;
}

.popup-fullscreen-name {
    float: left;
    width: calc(100% - 30px);
    height: 100%;
    font-size: 2.5vh;
    padding-left: 5px;
    box-sizing: border-box;
}

.popup-report-close {
    float: right;
    width: 30px;
    text-align: right;
    height: 100%;
    cursor: pointer;
}

.popup-close-fullscreen {
    float: left;
    width: 30px;
    text-align: right;
    height: 100%;
    cursor: pointer;
}

.popup-report-close i, .popup-close-fullscreen i {
    height: 100%;
    width: 100%;
    font-size: 30px;
}

.popup-fullscreen-print-btn, #export_button {
    height: 100%;
    font-size: 2vh;
}

.input-search {
    width: 100%;
    height: 40px;
    border: 1px solid lightgray;
    border-radius: 10px;
    transition: 0.2s;
    font-size: 18px;
    padding: 0 10px;
    margin-bottom: 10px;
}

.input-search:focus, .input-search:hover {
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .1);
    -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .1);
    -o-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .1);
    -ms-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .1);
    transition: 0.2s;
}

button {
    cursor: pointer;
}

form {
    margin: 0;
}

.button-main {
    height: 35px;
    border-radius: 10px;
    border: 1px solid steelblue;
    font-size: 22px;
    background-color: lightblue;
    transition: 0.2s;
}

.button-main i {
    vertical-align: text-bottom;
}

.button-main:hover {
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .1);
    -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .1);
    -o-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .1);
    -ms-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .1);
    transition: 0.2s;
    background-color: ghostwhite;
}

#sub_search_btn, #pep_range_btn {
    width: auto;
}

.content-center {
    text-align: center;
}

#top_content {
    width: 100%;
    height: 25%;
    box-sizing: border-box;
    border-bottom: 1px solid gray;
}

#top_left_content {
    width: 50%;
    height: calc(100% - 25px);
    float: left;
    box-sizing: border-box;
    border-right: 1px solid gray;
}

#top_right_content {
    width: 50%;
    height: calc(100% - 25px);
    float: left;
    box-sizing: border-box;
}

#middle_content {
    width: 100%;
    height: 16%;
    box-sizing: border-box;
    background: lightblue;
}

div {
    box-sizing: border-box;
}

#object_info {
    width: 100%;
    height: calc(100% - 60px);
}

#main_calendar {
    width: 250px;
    height: 100%;
    float: left;
    border-left:  1px solid gray;
    border-bottom:  1px solid gray;
    text-align: center;
}

#obj_info_content {
    height: 100%;
    width: calc(100% - 250px);
    float: left;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: baseline;
    border-bottom: 1px solid gray;
    box-sizing: border-box;
}

#obj_info_notation {
    padding: 5px;
    height: 30px;
}

.obj-info-block {
    height: calc(100% / 3);
    padding: 5px;
    box-sizing: border-box;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
}

.obj-info-block:nth-child(3n) {
    border-bottom: 0;
}

.obj-info-key {
    font-weight: bold;
}

#bottom_content {
    width: 100%;
    height: 59%;
}

#top_info {
    width: 100%;
    height: 25px;
    box-sizing: border-box;
    border-bottom: 1px solid gray;
    font-size: 2vh;
    font-weight: bold;
    background-color: lightblue;
}

#current_adress {
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    padding-left: 10px;
    float: left;
}

#current_company {
    text-align: right;
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    padding-right: 10px;
    float: left;
}

#owners_table, #agreement_list_table, #object_contacts_table {
    width: 100%;
    box-sizing: border-box;
    border-collapse: collapse;
    text-align: center;
}

#owners_table td, #agreement_list_table td,
#owners_table th, #agreement_list_table th {
    border: 1px solid gray;
}

#owners_table th, #agreement_list_table th, #object_contacts_table th {
    background-color: lightgrey;
    position: sticky;
    top: 0;
    border-top: 0;
    z-index: 0;
}

#object_contacts_table td, #object_contacts_table th {
    border: 1px solid gray;
}

#owners_table td:first-child, #agreement_list_table td:first-child,
#owners_table th:first-child, #agreement_list_table th:first-child {
    border-left: 0;
}

#owners_table td:first-child, #agreement_list_table td:first-child {
    width: 30px;
}

#owners_table td:last-child, #agreement_list_table td:last-child,
#owners_table th:last-child, #agreement_list_table th:last-child {
    border-right: 0;
}

.owner-document-list-btn, .popup-fullscreen-print-btn, .primary-btn {
    background: lightblue linear-gradient(lightblue, #60a3d8 70%, #60a3d8 50%);
    font-size: 16px;
    padding: 0;
    height: 30px;
}

.primary-btn-text {
    background: lightblue linear-gradient(lightblue, #60a3d8 70%, #60a3d8 50%);
    font-size: 16px;
    padding: 0px 5px;
    height: 30px;
}

#export_button {
    background-color: #1d6f42;
    color: white;
}

#popup_object_list {
    width: 0;
    height: 100%;
    position: fixed;
    top: 0;
    background-color: white;
    display: none;
    border-right: 1px solid gray;
    box-sizing: border-box;
    padding: 5px;
    z-index: 6;
}

#object_list_settings {
    width: 100%;
    height: 30px;
    margin-bottom: 5px;
}

#object_list_settings_left {
    width: 50%;
    height: 100%;
    text-align: left;
    float: left;
    display: none;
}

#print_mode {
    font-size: 16px;
    color: steelblue;
    vertical-align: middle;
    cursor: pointer;
}

#object_list_settings_right {
    width: 50%;
    height: 100%;
    text-align: right;
    float: left;
    display: none;
}

#object_list_toggle {
    /* color: red; */
    vertical-align: middle;
}

#object_list_header {
    width: 100%;
    height: 30px;
}

#object_list_tree {
    width: 100%;
    height: calc(100% - 65px);
    overflow: auto;
}

.div-header {
    text-align: center;
    font-size: 2vh;
}

#popup_object_content {
    display: none;
    width: 100%;
    height: 100%;
}

.object-list-tree li:hover {
    font-weight: bold;
    outline: 1px solid lightblue
}

  .object-list-tree li {
    cursor: pointer;
}

.object-tree-ul.hide {
    display: none;
}

.object-tree-ul.active {
    display: block;
}

#object_list_search_input {
    height: 100%;
    width: 100%;
    font-size: 16px;
}

.object-tree-li.active {
    font-weight: bold;
    background-color: lightblue;
}

.ui-datepicker-calendar {
    display: none;
}

#rep_range_table {
    width: 100%;
    font-size: 2vh;
}

#rep_range_table td:nth-child(1) {
    width: 30%;
}

#rep_range_table td:nth-child(2) {
    width: 70%;
}

#rep_range_table input {
    width: 100%;
    font-size: 2vh;
}

.urep {
    border: 1px solid black;
    border-collapse: collapse;
}

#report_print tr {
    page-break-inside: avoid;
}

@media print {
    .report-print-footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 100px;
    }

    .report-print-footer, .page-footer-space {
        height: 40px;
    }
}


.notification {
    margin: 10px 0px;
    color: gray;
    text-align: center;
}

.notification-success {
    margin: 10px 0px;
    color: green;
    text-align: center;
}

.main-table-header, .block-header, #chat_header {
    height: 30px;
    box-sizing: border-box;
    background: linear-gradient(lightblue 0%, #6393c1d6 100%);
    font-size: 21px;
}

.block-header span, .block-header-without-icon span {
    vertical-align: middle;
}

.block-header-without-icon {
    height: 30px;
    box-sizing: border-box;
    background: linear-gradient(lightblue 0%, #6393c1d6 100%);
    font-size: 2.2vh;
    padding-left: 5px;
}

.block-content {
    padding: 5px;
}

.header {
    width: calc(100% - 250px);
    padding-left: 5px;
    padding-top: 1px;
    height: 100%;
    box-sizing: border-box;
    float: left;
}

.header-icons {
    width: 250px;
    float: left;
    height: 100%;
    text-align: right;
}

.header-icons i {
    transition: .15s;
    border-left: 1px solid gray;
    padding: 0px 5px;
    color: black;
    vertical-align: middle;
    height: 100%;
    float: right;
}

.header-icons i:hover {
    color: white;
    background: linear-gradient(lightblue 0%, #6393c1 100%);
    transition: .15s
}


.main-table-content, .info-block-content {
    width: 100%;
    height: calc(100% - 30px);
    overflow: auto
}

.parent-li.active {
    font-weight: bold;
}

.circle-button {
    width: 60px;
    height: 60px;
    cursor: pointer;
    border-radius: 50%;
    position: fixed;
    bottom: 10px;
    right: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.6);
    background-color: lightblue;
    text-align: center;
    transition: 0.3s
}

.circle-button:hover {
    box-shadow: 0 0 20px rgba(0,0,0,0.6);
    transition: 0.3s
}

.circle-button i {
    color: white;
    font-size: 48px;
    padding-top: 6px;
}

#profile_left_content {
    width: 70%;
    height: 100%;
    box-sizing: border-box;
    float: left;
}

#profile_right_content {
    width: 30%;
    height: calc(100% - 45px);
    box-sizing: border-box;
    float: left;
    margin-top: 45px;
}

.tabs {
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    margin-top: 5px;
}

.popup-tabs {
    width: 100%;
    height: 30px;
    box-sizing: border-box;
}

.tabs-content {
    width: 100%;
    height: calc(100% - 45px);
    box-sizing: border-box;
    background-color: aliceblue;
    border: 1px solid gray;
    position: relative;
    top: -1px;
    z-index: 0;
    padding: 5px;
}

.tab-button {
    height: 100%;
    background-color: white;
    float: left;
    border: 1px solid transparent;
    outline: none;
    font-size: 2vh;
    box-sizing: border-box;
    position: relative;
    padding: 0px 15px;
}

.tab-button:hover {
    background-color: lightblue;
}

.tab-button.active {
    border: 1px solid gray;
    border-bottom: 1px solid aliceblue;
    background-color: aliceblue;
    z-index: 1;
    box-sizing: border-box;
}

.tab-content {
    display: none;
    box-sizing: border-box;
}

.tab-content.active {
    display: block;
}

#profile_chat {
    width: calc(100% - 5px);
    height: 100%;
    margin-left: 5px;
    border: 1px solid gray;
    box-sizing: border-box;
    position: relative;
    top: -1px;
}

#chat_content {
    width: 100%;
    height: calc(100% - 30px);
}

#chat_header i, .block-header i {
    vertical-align: middle;
    color: steelblue;
    font-size: 28px;
    cursor: default;
}

.task-table {
    width: 100%;
    box-sizing: border-box;
    padding: 5px 0px;
    border-collapse: collapse;
}

.task-thead th:nth-child(1) {width: calc(100% / 3)}
.task-thead th:nth-child(2) {width: calc(100% / 3)}
.task-thead th:nth-child(3) {width: calc(100% / 3)}



.task-table td, .task-table th {
    border: 1px solid gray;
    border-top: 0;
    text-align: center;
}

.task-table td:last-child, .task-table th:last-child {
    border-right: 0;
}

.task-name {
    background-color: lightblue
}

.task-description {
    text-align: left !important;
}

p {
    margin: 5px 0px;
}

.content-loading {
    position: relative;
    width: 100%;
    height: 100%;
}

.loading {
    width: 100%;
    height: 90px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.loading-circle {
    margin: 0px auto;
    border-radius: 50%;
    border: 4px solid lightgray;
    border-top: 4px solid steelblue;
    width: 50px;
    height: 50px;
    animation: 1.64s loading infinite linear;
    transform: translate(-50%, -50%);
}
 @keyframes loading {
   0%{
     transform: rotate(0)
   }
   100%{
     transform: rotate(360deg)
   }
}

.loading-circle-small {
    margin: 0px auto;
    border-radius: 50%;
    border: 4px solid lightgray;
    border-top: 4px solid steelblue;
    width: 25px;
    height: 25px;
    animation: 1.64s loading infinite linear;
    transform: translate(-50%, -50%);
}
 @keyframes loading {
   0%{
     transform: rotate(0)
   }
   100%{
     transform: rotate(360deg)
   }
}

.loading-header {
    height: 30px;
    text-align: center;
    font-size: 2.2vh;
    padding: 5px 0px;
    color: lightgray;
}

.td-without-border {
    border: 0 !important;
}

.td-text-center {
    text-align: center;
}

.report-table {
    width: 100%;
    border-collapse: collapse;
    page-break-after: always;
}

.report-table td {
    border: 1px solid black;
}

#clear_object_btn {
    width: 95px;
    height: 100%;
}

#search_input {
    width: calc(100% - 95px);
    height: 100%;
    float: left;
}

#clear_search_input {
    width: 95px;
    height: 100%;
    float: left;
}

#print_mode_object_num {
    font-size: 16px;
    color: steelblue;
    vertical-align: top;
    display: none;
    height: 100%;
    border: 1px solid steelblue;
    border-right: 0;
    padding: 5px;
}

.object-tree-btn {
    background: lightblue linear-gradient(lightblue, #60a3d8 70%, #60a3d8 50%);
    height: 100%;
    font-size: 16px;
}

.object-tree-btn i {
    font-size: 24px;
}

#main_content .header-icons, #save_print_notation {
    display: none;
}

.input-main {
    font-size: 16px;
    padding-left: 2px;
    width: 100%;
    height: 30px;
}

.form-textarea {
    width: 100%;
    resize: none;
    font-size: 16px;
}

.table-form {
    width: 100%;
}

.table-input-name {
    text-align: right;
    font-weight: bold;
}

#main_calendar .ui-datepicker {
 width: 100%;
 height: 100%;
 background-color: lightblue;
}

#main_calendar .ui-widget.ui-widget-content {
    border: 0;
}

#main_calendar .ui-widget-content {
    background: none;
}

#main_calendar .ui-datepicker .ui-datepicker-buttonpane {
    margin: 0;
    padding: 0;
}

#main_calendar .ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current,
#main_calendar .ui-datepicker .ui-datepicker-buttonpane button {
    float: none;
}

#main_calendar .ui-datepicker-buttonpane button {
    font-size: 16px;
    color: black;
    border: 1px solid gray;
}

#main_calendar .ui-datepicker .ui-datepicker-header {
    height: 35px;
    background-color: lightblue;
    border: 1px solid gray;
}

.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
    height: 100%;
}

#receipt_main_table {
    width: 100%;
    border-collapse: collapse;
}

#receipt_main_table td, #receipt_main_table th {
    border: 1px solid gray;
}

#receipt_main_table th {
    background-color: lightgray;
}

#receipt_main_table td:first-child {
    text-align: left;
}

#receipt_main_table td:not(:first-child) {
 text-align: right;
}

form[name="add_agreement"] td:first-child,
form[name="proccess_control_file"] td:first-child{
    width: 200px;
}

form[name="add_contact"] td:first-child,
form[name="edit_contact"] td:first-child,
form[name="report_fast_access"] td:first-child {
    width: 150px;
}

.add-agreement-no-owner, .add-contact {
    display: none;
}

#edit_object_info_table td:first-child {
    width: 35%;
}

#control_reports, #control_files {
    width: 100%;
    height: 100%;
}

#files_left_column, #files_center_column {
    width: calc(100% / 3);
    height: 100%;
    float: left;
}

#files_left_column {
    padding-right: 5px;
}

#files_center_column {
    padding-right: 5px;
}

#files_left_column .block:not(:first-child) {
    margin-top: 5px;
}

#reports_list {
    border-right: 1px solid gray;
    padding-right: 5px;
}

#report_fast_access{
    padding-left: 5px;
}

#report_fast_access, #reports_list {
    width: 50%;
    max-width: 70%;
    min-width: 30%;
    height: 100%;
    float: left;
}

.add-report-part {
    width: 20px;
    display: none;
}

.add-report-part-input {
    text-align: center;
}

.block {
    border: 1px solid gray;
}

/* .form-btn {
    padding: 5px;
} */

.form-btn-td {
    text-align: right;
}

#files_upload_input {
    padding-bottom: 5px;
    display: none;
}

#select_files label {
    cursor: pointer;
}

#control_files_list {
    height: calc(100% - 105px);
}

#control_files_list .block-content {
    height: calc(100% - 30px);
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0;
}

#control_files_upload {
    height: 100px;
}

#control_files_list_table {
    width: 100%;
    border-collapse: collapse;
}

#control_files_list_table td, #control_files_list_table th {
    border: 1px solid gray;
}

#control_files_list_table td:first-child,
#control_files_list_table th:first-child {
    border-left: 0;
}

#control_files_list_table td:last-child, 
#control_files_list_table th:last-child {
    border-right: 0;
}

#control_files_list_table td:nth-child(2), #control_files_list_table td:nth-child(3) {
    text-align: center;
}

#control_files_list_table th {
    border-top: 0;
    position: sticky;
    top: 0;
    background-color: lightgray;
}

#demo_access {
    position: fixed;
    bottom: 10px;
    right: 80px;
    width: 250px;
    height: 80px;
    border: 1px solid gray;
}

#demo_access_header {
    height: 25px;
    background: linear-gradient(lightblue 0%, #6393c1d6 100%);
    text-align: center;
    font-size: 18px;
}

#demo_access_content {
    height: 53px;
    background-color: white;
    text-align: center;
    font-size: 21px;
}

#control_files_upload .block-content {
    text-align: center;
}

.li-disabled {
    pointer-events: none;
    opacity: 0.4;
}

#report_settings_select_menu {
    width: 250px;
    height: 100%;
    float: left;
}

#report_settings_select_menu span {
    font-size: 18px;
}

#report_settings_select_menu ul {
    padding: 0;
    margin: 0;
}

#report_settings_select_menu li {
    position: relative;
    display: block;
    padding: 10px 0px;
    padding-right: 5px;
    box-sizing: border-box;
    text-align: right;
    cursor: pointer;
    border: 1px solid transparent;
    border-right: 0;
}

#report_settings_select_menu li.active {
    background-color: white;
    z-index: 1;
    border: 1px solid gray;
    border-right: 0;
}

#form_settings_content {
    width: calc(100% - 250px);
    height: 100%;
    float: left;
    position: relative;
    left: -1px;
    background-color: white;
    border: 1px solid gray;
    padding: 5px;
}

#control_report_settings {
    width: 100%;
    height: 100%;
}

#report_fast_access_reports_list, #report_fast_access_owners_list {
    width: 100%;
    border: 1px solid gray;
}

.table-form-select {
    height: 30px;
    width: 35px;
    font-size: 16px;
}

.report-fast-access-part-owners, #fast_access_add_owner_btn {
    display: none;
}

#print_notation_textarea {
    width: 100%;
    resize: none;
    font-size: 16px;
}

textarea {
    font-family: 'Roboto', sans-serif;
}

#fast_search_menu {
    max-height: 250px;
    width: 658px;
    position: absolute;
    background-color: white;
    border: 1px solid lightgray;
    overflow-y: auto;
    display: none;
}

#fast_search_menu ul {
    list-style-type: none;
    font-size: 16px;
    margin: 0;
    padding: 5px;
    text-align: left;
}

#fast_search_menu ul li {
    padding: 3px 0px;
    border-bottom: 1px solid lightgray;
}

#fast_search_menu ul li:hover {
    cursor: pointer;
    background-color: lightblue;
}

#fast_search_menu ul li:first-child {
    border-top: 1px solid lightgray;
}

.dropdown-help {
    width: 450px;
}

.help-header {
    text-align: center;
    font-size: 16px;
}

.help-gif {
    width: 100%;
    border-bottom: 1px solid gray;
}

.help-gif-icon {
    padding-top: 10px;
}

.dropdown-help-menu-tab {
    text-align: center;
    font-size: 18px;
    background-color: lightblue;
    border: 1px solid gray;
    border-top: 0;
    padding: 5px 0px;
    cursor: pointer;
}

.dropdown-help-menu-tab:first-child {
    border-top: 1px solid gray;
}

.dropdown-help-menu-tab-content {
    border: 1px solid gray;
    border-top: 0;
    display: none;
}

.dropdown-help-menu-tab-content.active {
    display: block;
}

.help-menu-icon {
    font-size: 20px;
    vertical-align: bottom;
    cursor: default;
}

.news-block {
    width: 100%;
    border-bottom: 1px solid gray;
}

.news-header {
    padding: 5px;
    font-weight: bold;
    background-color: lightblue;
}

.news-content {
    padding: 5px;
    max-height: 200;
    overflow-y: auto;
}

.news-creation-date {
    padding: 5px;
    padding-top: 0;
    text-align: right;
}

.notification-loading {
    padding: 5px;
}

.notification-loading-content {
    width: max-content;
    margin: auto;
}

.notification-loading-icon {
    float: left;
}

.notification-loading-text {
    float: left;
    padding: 3px;
}